<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287516614944-8hb766a8t06ejobnuo1bocgfmuf9c340.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287516614944-8hb766a8t06ejobnuo1bocgfmuf9c340</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0lBKLxIZWlbRDWjpxf-E41OQ8oH2Fk4</string>
	<key>GCM_SENDER_ID</key>
	<string>287516614944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>detodounpoquito.Instagram-clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-c404e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-c404e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287516614944:ios:5f32944a5bd0e44e4a7745</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-c404e.firebaseio.com</string>
</dict>
</plist>